
includeConfig 'https://raw.githubusercontent.com/nf-core/configs/master/conf/nci_gadi.config'
        
singularity {
    cacheDir = "/g/data/if89/singularity_cache/"
    enabled = true
    runOptions = '--nv'
    autoMounts = true
}

params {
    config_profile_name         = 'Run profile - GADI'
    config_profile_description  = 'Running configuration for production usage'
    input                       = null
    outdir                      = "results"
    project                     = null
    use_dgxa100                 = false
}

env.OPENMM_PLATFORM_ORDER="CPU"
env.OPENMM_DEFAULT_PLATFORM="CPU"

process {
    executor = "pbspro"
    storage = "gdata/if89+scratch/${params.project}+gdata/${params.project}"
    beforeScript = 'module load singularity;'
    project = params.project
    withName: 'BINDCRAFT' {
        if (params.use_dgxa100){
            queue = "dgxa100"
            cpus = 16    
        }else{
            queue = "gpuvolta"
            cpus = 12
        }
        gpus = 1
    }
}
