/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    
    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'JSONMANAGER' {
        memory = 2.GB
        time   = 1.h
        //ext.args2 = "${params.quote_char}"
    }
    
    withName: 'RANKER' {
        memory = 2.GB
        time   = 1.h
    }
        
    withName: 'BINDCRAFT' {
        container = "${params.bindcraft_container}"
        memory = 24.GB
        time = 24.h
        errorStrategy = params.error_strategy ?: "terminate"
        afterScript = {
            def output_path = new File("${params.outdir}")
            def final_path = output_path.isAbsolute() ? output_path : new File("${workflow.launchDir}", output_path.path)
            """
            if [ \$nxf_main_ret -ne 0 ]; then
                output_dir=\$(find . -type d -name '*_output' | head -n 1)
                if [ -n "\$output_dir" ] && [ \$(find "\$output_dir/Accepted/" -name '*.pdb' | wc -l) -gt 0 ]; then
                    mkdir -p "${final_path.path}/failed_bindcraft/"; cp -R "\$output_dir" "${final_path.path}/failed_bindcraft/"
                fi
            fi
            """
        }
    }

}
